p {
  text-align: center;
  color: #17d4fe;
  font-size: 60px;
  font-family: Orbitron;
  padding-top: 20%;
}
h3 {
  text-align: end;
  color: rgb(0, 255, 0);
  padding-top: 270px;
}
body {
  background-color: black;
}
